// Custom.scss
// Option A: Include all of Bootstrap

@import "../bootstrap/scss/bootstrap";

// COLOR VARIABLES
// $white: #ffffff;
$white-opac: #ffffffb3;
$black-opac: #000000b3;

// Circle Pie Chart Style Start
// -- vars
$bg-color: #34495e;
$default-size: 1em;
$label-font-size: $default-size / 4;
$label-font-size-redo: $default-size * 4;

// -- mixins
@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin draw-progress($progress, $color) {
  .pie {
    .half-circle {
      border-color: $color;
    }

    .left-side {
      transform: rotate($progress * 3.6deg);
    }

    @if $progress <= 50 {
      .right-side {
        display: none;
      }
    } @else {
      clip: rect(auto, auto, auto, auto);

      .right-side {
        transform: rotate(180deg);
      }
    }
  }
}

@mixin draw-progress--solid($progress, $color, $bg-color) {
  background: linear-gradient(to right, $color 50%, $bg-color 50%);

  &:before {
    @if $progress <= 50 {
      background: $bg-color;
      transform: rotate((100 - (50 - $progress)) / 100 * 360deg * -1);
    } @else {
      background: $color;
      transform: rotate((100 - $progress) / 100 * 360deg);
    }
  }
}

.set-size {
  font-size: 10em;
}

.charts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.pie-wrapper {
  @include size($default-size, $default-size);
  float: left;
  margin: 15px;
  margin-left: 0;
  position: relative;
  &:last-child {
    margin-right: 0;
  }

  &:nth-child(3n + 1) {
    clear: both;
  }

  .pie {
    @include size(100%, 100%);
    clip: rect(0, $default-size, $default-size, $default-size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      @include size(100%, 100%);
      border: ($default-size / 10) solid #3498db;
      border-radius: 50%;
      clip: rect(0, $default-size / 2, $default-size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .label {
    background: $bg-color;
    border-radius: 50%;
    bottom: $label-font-size-redo / 10;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: $label-font-size;
    left: $label-font-size-redo / 10;
    line-height: $label-font-size-redo * 0.7;
    position: absolute;
    right: $label-font-size-redo / 10;
    text-align: center;
    top: $label-font-size-redo / 10;

    .smaller {
      color: #bdc3c7;
      font-size: 0.45em;
      padding-bottom: 20px;
      vertical-align: super;
    }
  }

  .shadow {
    @include size(100%, 100%);
    border: $default-size / 10 solid #bdc3c7;
    border-radius: 50%;
  }

  &.style-2 {
    .label {
      background: none;
      color: #7f8c8d;

      .smaller {
        color: #bdc3c7;
      }
    }
  }
  &.progress-99 {
    @include draw-progress(99, #1f377d);
  }
  &.progress-97 {
    @include draw-progress(97, #1ac7c5);
  }
  &.progress-80 {
    @include draw-progress(80, #1f377d);
  }
}

// Circle Pie Chart Style End

/////////////////////////////
// GLOBAL STYLE START
////////////////////////////
html,
body {
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}
.media-icons {
  a {
    display: flex;
    width: 20px;
    margin-right: 6px;
    @media (min-width: 768px) {
      width: 30px;
      margin-right: 10px;
    }
  }
}
//////////////////////
// ANIMATION STYLES
//////////////////////

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
  }
}
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
/////////////////////////////
// HEADER STYLE START
////////////////////////////
.header {
  // animation: slide-down 0.4s ease-out;
  .sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // transition: 0.4s ease-in-out;
    animation: slide-down 0.4s ease-out;

    .whatsapp {
      display: flex;
      align-items: center;
      color: $white;
      transition: 0.4s ease-in;
      img {
        width: 20px;
        margin-right: 6px;
        @media (min-width: 768px) {
          width: 30px;
          margin-right: 10px;
        }
      }
    }
  }
  .navbar {
    .navbar-brand {
      width: 150px;
      transition: 0.4s ease-in;
    }
    .navbar-toggler {
      border: 2px solid $white;
      color: $white;
      outline: none;
      transition: 0.4s ease-in;
    }
    .navbar-nav {
      @media (max-width: 991px) {
        background-color: $white;
        border-radius: 2px;
        margin-top: 10px;
      }
      .nav-item {
        .nav-link {
          color: $white-opac;
          transition: 0.4s ease-in;
          @media (max-width: 991px) {
            color: $black-opac;
            padding-left: 10px;
          }
        }
      }
      .nav-item.active {
        .nav-link {
          color: $white;
          @media (max-width: 991px) {
            color: $black;
          }
        }
      }
    }
  }
}

.header.active {
  background-color: $white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  .sub-header {
    .whatsapp {
      color: $black-opac;
    }
  }
  .navbar {
    .nav-item {
      .nav-link {
        color: $black-opac;
        transition: 0.4s ease-in;
      }
    }
    .nav-item.active {
      .nav-link {
        color: $black;
      }
    }
    .navbar-toggler {
      border-color: $black-opac;
      color: $black-opac;
    }
  }
}

/////////////////////////////
// HOME BANNER STYLE START
////////////////////////////
.home-banner {
  background: url("../images/header.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  .row {
    padding-top: 160px;
    padding-bottom: 80px;
    @media (min-width: 992px) {
      padding-top: 100px;
    }
    .banner-content {
      color: $white;
      h1 {
        @media (max-width: 767px) {
          font-size: 34px;
        }
      }
    }
  }
}

/////////////////////////////
// ABOUT COMPANY STYLE START
////////////////////////////
.about-company {
  .about-content {
    h2 {
      color: #1f377d;
    }
    p {
      font-size: 20px;
      color: #909090;
    }
  }
  .bg-line {
    background-image: url("../images/3.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 375px;
  }
  // CARD FEATURES
  .features-card {
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    background-color: $white;
    padding: 20px 0 10px;
    transition: 0.3s ease-in;
    &:hover {
      background-color: #bff7f6;
    }
  }
}

/////////////////////////////
// OUR SERVICES STYLE START
////////////////////////////
.our-services {
  .side-img {
    img {
      border-radius: 12px;
    }
  }
  h2 {
    color: #1f377d;
  }
  .services-item {
    .img-wrap {
      margin-bottom: 15px;
    }
    @media (max-width: 991px) {
      text-align: center;
    }
  }
}

.why-choose {
  h2 {
    color: #1f377d;
  }
  .list-unstyled {
    li {
      margin-bottom: 20px;
      img {
        width: 60px;
        height: 60px;
        margin-right: 15px;
      }
    }
  }
}
.who-we-are {
  h2 {
    color: #1f377d;
  }
  p {
    font-size: 20px;
    color: #909090;
  }
  .bar-wrap {
    .progress {
      margin-bottom: 15px;
      height: 25px;
      border-radius: 15px;
      .progress-bar {
        font-weight: 600;
        font-size: 14px;
        border-radius: 15px;
        background: rgb(31, 55, 125);
        background: linear-gradient(
          90deg,
          rgba(31, 55, 125, 1) 0%,
          rgba(26, 199, 197, 1) 35%,
          rgba(31, 55, 125, 1) 100%
        );
      }
    }
  }
}
.big-brand {
  h2 {
    color: #1f377d;
  }
  p {
    font-size: 20px;
    color: #909090;
  }
  .slick-slider {
    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9;
      border: none;
      outline: none;
      background: transparent;
    }
    .slick-next {
      right: 0;
    }
    .img-wrap {
      img {
        margin: auto;
      }
    }
  }
}

.testimonial {
  background: rgb(31, 55, 125);
  background: linear-gradient(
    90deg,
    rgba(31, 55, 125, 1) 0%,
    rgba(26, 199, 197, 1) 35%,
    rgba(31, 55, 125, 1) 100%
  );
  h2 {
    color: #1f377d;
  }
  p {
    font-size: 20px;
    color: #fff;
  }
  .review-slider {
    // .slick-list {
    //   padding: 20px 0;
    // }
    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9;
      border: none;
      outline: none;
      background: transparent;
      color: #19d4d3;
    }
    .slick-prev {
      left: -20px;
    }
    .slick-next {
      right: -20px;
    }
    .slide-wrap {
      background-color: #fff;
      // border: 1px solid #1f377d;
      text-align: center;
      padding: 20px;
      margin: 0 10px;
      border-radius: 8px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      .img-wrap {
        margin-bottom: 20px;
        img {
          width: 80px;
          margin: auto;
          border-radius: 50%;
        }
      }
      h4 {
        color: #1f377d;
      }
      p {
        font-size: 16px;
        color: #909090;
      }
      .star-rating {
        i {
          color: #1f377d;
        }
      }
    }
  }
}

.footer {
  background: rgb(31, 55, 125);
  background: linear-gradient(
    90deg,
    rgba(31, 55, 125, 1) 0%,
    rgba(26, 199, 197, 1) 35%,
    rgba(31, 55, 125, 1) 100%
  );
  h2 {
    color: #f8f8f8;
  }
  p {
    font-size: 20px;
    color: #f8f8f8;
  }
  .logo-wrap {
    display: block;
    img {
      width: 150px;
    }
  }
  .address-wrap {
    p {
      font-size: 16px;
      padding-left: 28px;
      @media (max-width: 991px) {
        padding-left: 35px;
      }
    }
    a {
      display: block;
      text-decoration: none;
      color: #f8f8f8;
      margin-bottom: 15px;
      padding-left: 35px;
    }
  }
  ul {
    li {
      margin-bottom: 10px;
      &::before {
        content: "\2022";
        color: #f8f8f8;
        font-weight: bold;
        display: inline-block;
        width: 28px;
        @media (max-width: 767px) {
          width: 35px;
        }
      }
      a {
        text-decoration: none;
        color: #f8f8f8;
        transition: 0.3s ease-in;
        &:hover {
          color: #1f377d;
        }
      }
    }
  }
  .sub-footer {
    p {
      a {
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        color: #f8f8f8;
        transition: 0.3s ease-in;
        &:hover {
          color: #1f377d;
          border-color: #1f377d;
        }
      }
    }
  }
}

/* Back to Top Start */
.back-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: 0.5s ease-in;
  opacity: 0;
}
.back-top .btn-red-trans {
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: #012690;
  padding: 0px 10px;
  border: 2px solid #012690;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: 0.5s ease-in;
  box-shadow: none;
}
