<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="stylesheet" href="./assets/css/style.css" />
  <title>LOGIN | KARGOS</title>
</head>

<body>
  <main>
    <div class="auth-wrapper">
      <div class="auth-content">
        <div class="auth-head">
          <img class="img-fluid" src="./assets/images/logo-1x.png" alt="Kargos Logo" />
        </div>
        <form class="pt-2">
          <div class="auth-body">
            <div class="row align-items-center mb-4">
              <div class="col-7 col-sm-8">
                <div class="form-group emailMobile mb-0">
                  <input type="text" class="form-control" placeholder="Email Address / Mobile Number" required />
                </div>
              </div>
              <div class="col-5 col-sm-4">
                <button type="button" class="btn btn-otp">GET OTP</button>
              </div>
            </div>
            <div class="row align-items-center mb-4">
              <div class="col-7 col-sm-8">
                <div class="form-group otp-wrap mb-0">
                  <input type="text" class="form-control" placeholder="2345" maxlength="4" required />
                </div>
              </div>
              <div class="col-5 col-sm-4">
                <label class="checkbox-container">Remember me
                  <input type="checkbox" checked="checked" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="auth-foot">
            <div class="row">
              <div class="col-12 col-sm-8 text-center text-sm-right">
                <button type="submit" class="btn btn-auth">Login</button>
              </div>
            </div>
            <p class="text-center">
              You don't have an account?
              <a href="./register.html" class="auth-link">Sign up</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </main>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>