<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="./assets/css/style.css" />

    <title>Assignment Page</title>
</head>

<body>
    <main class="">
        <!-- Content area start -->
        <div class="content-area">
            <!-- Header Start -->
            <header class="vinove-header">
                <div class="container">
                    <div class="navbar-wrapper">
                        <div class="brand-logo">
                            <a href="index.html" class="d-inline-block">
                                <img class="img-fluid" src="./assets/images/vinove-logo.png" />
                            </a>
                        </div>
                        <ul class="navbar-menu d-none d-md-flex">
                            <li class="item-nav">
                                <a href="index.html" class="link-nav">HOME</a>
                            </li>
                            <li class="item-nav">
                                <a href="#" class="link-nav">ABOUT US</a>
                            </li>
                            <li class="item-nav">
                                <a href="#" class="link-nav">CAREERS</a>
                            </li>
                            <li class="item-nav">
                                <a href="#" class="link-nav">CONTACT US</a>
                            </li>
                        </ul>
                        <button class="btn aside-open d-md-none"><i class="fas fa-bars text-white"></i></button>
                        <!-- <button class="btn aside-close d-none d-md-none"><i class="fas fa-times text-white"></i></button> -->
                    </div>
                </div>
            </header>
            <!-- Header End -->
            <!-- Banner Start -->
            <section class="banner-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 mx-auto text-center">
                            <h5>AN ENTERPRISE COMMITTED TO</h5>
                            <h1>INNOVATIVE</h1>
                            <h2>PRODUCTS & SERVICES</h2>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Banner End -->

            <!-- Card Section Start -->
            <section class="core-values">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mx-auto text-center mb-4 mb-lg-5">
                            <h2>OUR CORE VALUES</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-5 mb-lg-0">
                            <div class="value-card text-center">
                                <div class="card-item">
                                    <div class="img-wrap">
                                        <img class="img-fluid" src="./assets/images/quality.png" />
                                    </div>
                                    <h4>Quality</h4>
                                    <p>To provide quality IT services and products to all our clients.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5 mb-lg-0">
                            <div class="value-card text-center">
                                <div class="card-item">
                                    <div class="img-wrap">
                                        <img class="img-fluid" src="./assets/images/honesty.png" />
                                    </div>
                                    <h4>Honesty</h4>
                                    <p>To be honest and transparent in all our dealings with all stakeholders.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mx-auto">
                            <div class="value-card text-center">
                                <div class="card-item">
                                    <div class="img-wrap">
                                        <img class="img-fluid" src="./assets/images/value.png" />
                                    </div>
                                    <h4>Values</h4>
                                    <p>To provide value for money services ensure customer satisfaction at all times.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Card Section End -->


            <!-- Footer Start -->
            <footer class="vinove-footer">
                <div class="container">
                    <p class="mb-0 text-center">Copyright &copy; 2004-2019 Vinove Software & Services (P) Ltd. All
                        Rights
                        Reserved.</p>
                </div>
            </footer>
            <!-- Footer End -->
        </div>
        <!-- Content area End -->


        <!-- Sidebar Start -->
        <aside class="vinove-sidebar d-md-none">
            <div class="sidebar-top">
                <span class="text-white">MENU</span>
                <button class="btn aside-close d-md-none"><i class="fas fa-times text-white"></i></button>
            </div>
            <ul class="sidebar-menu">
                <li class="item-aside">
                    <a href="index.html" class="link-aside">HOME</a>
                </li>
                <li class="item-aside">
                    <a href="#" class="link-aside">ABOUT US</a>
                </li>
                <li class="item-aside">
                    <a href="#" class="link-aside">CAREERS</a>
                </li>
                <li class="item-aside">
                    <a href="#" class="link-aside">CONTACT US</a>
                </li>
            </ul>
        </aside>
        <!-- Sidebar End -->

    </main>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- Optional JavaScript -->
    <script>
        $(document).ready(function () {
            $(".aside-open").click(function () {
                $(".content-area").css("transform", "translateX(-250px)");
                $(".vinove-sidebar").css("width", "250px");
            });
            $(".aside-close").click(function () {
                $(".content-area").css("transform", "translateX(0px)");
                $(".vinove-sidebar").css("width", "0px");
            });
        });
    </script>
</body>

</html>