<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- FontAwesome Stylesheet -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
      integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o="
      crossorigin="anonymous"
    />
    <!-- Slick Slider -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>Tutorzen | Home Page</title>
  </head>
  <body>
    <main class="home-page">
      <!-- Tutorzen Header Start -->
      <header class="tutorzen-header">
        <div class="container">
          <nav class="navbar navbar-expand-xl navbar-light p-0">
            <a class="navbar-brand" href="#"
              ><span class="theme-orange">Tutor</span
              ><span class="theme-blue">zen</span></a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="#">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">MY SESSIONS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">MY COURSES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">MY TUTORS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">MY ASSIGNMENTS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">HELP</a>
                </li>
              </ul>
              <div class="d-flex align-items-center">
                <div class="notify-wrap">
                  <span class="notify-bell">
                    <img
                      class="img-fluid"
                      src="./assets/images/alarm.svg"
                      alt="Notification Bell"
                    />
                    <span class="bell-active"></span>
                  </span>
                  <span class="notify-cart">
                    <img
                      class="img-fluid"
                      src="./assets/images/shopping-cart.svg"
                      alt="Shopping Cart"
                    />
                    <span class="cart-count">5</span>
                  </span>
                </div>
                <div class="user-wrap">
                  <div class="dropdown">
                    <a
                      class="dropdown-toggle"
                      href="#"
                      role="button"
                      id="dropdownMenuLink"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <img
                        class="img-fluid"
                        src="./assets/images/riya.jpg"
                        alt="User Student"
                      />
                    </a>

                    <div
                      class="dropdown-menu dropdown-menu-right"
                      aria-labelledby="dropdownMenuLink"
                    >
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Tutorzen Header End -->

      <section class="search-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <form class="search-form shadow rounded">
                <div
                  class="form-row align-items-center justify-content-between"
                >
                  <div class="col-lg-3 mb-3 mb-lg-0">
                    <h1 class="title-heading">Search Tutors</h1>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <div class="dropdown">
                      <a
                        class="form-control dropdown-toggle"
                        href="#"
                        role="button"
                        id="dropdownMenuLink"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        Choose class
                      </a>

                      <div
                        class="dropdown-menu dropdown-menu-right"
                        aria-labelledby="dropdownMenuLink"
                      >
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#"
                          >Something else here</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <div class="dropdown">
                      <a
                        class="form-control dropdown-toggle"
                        href="#"
                        role="button"
                        id="dropdownMenuLink"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        Choose subjects(e.g. Math, Eng)
                      </a>

                      <div
                        class="dropdown-menu dropdown-menu-right"
                        aria-labelledby="dropdownMenuLink"
                      >
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#"
                          >Something else here</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 text-md-center text-lg-right">
                    <button type="button" class="btn btn-orange rounded-pill">
                      Find Teacher
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="session-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="session-card">
                <h2>Hi, Riya Good Morning!</h2>
                <p>
                  You have <span class="lesson-count">2 sessions </span> today.
                  Request you to attend the sessions on time.
                </p>
                <h5>TODAY'S SESSIONS</h5>
                <div
                  class="inner-card flex-column flex-md-row align-items-md-center mb-4"
                >
                  <div>
                    <span class="subject">Mathematics</span>
                    <span class="time">11:00 AM - 12:00 PM</span>
                  </div>
                  <div class="d-flex align-items-center my-3">
                    <div class="img-wrap mr-2">
                      <img
                        class="img-fluid"
                        src="./assets/images/sunil-kumar.jpg"
                        alt="Sunil Pant"
                      />
                    </div>
                    <div>
                      <span class="tutor-tag">with Tutor</span>
                      <a href="#" class="tutor-name">Mr. Sunil Pant</a>
                    </div>
                  </div>
                  <div class="join-session">
                    <a href="#" class="btn rounded-pill">Join Session</a>
                    <span class="start-time">Starts in 5 min</span>
                  </div>
                </div>
                <a href="#" class="d-inline-block text-underline"
                  >View Today's Sessions</a
                >
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="session-card">
                <h2>Upcoming Sessions</h2>
                <p class="mb-4">
                  You have
                  <span class="lesson-count">3 sessions </span> scheduled for
                  <strong>April</strong> month.
                </p>
                <div class="session-slider mb-4">
                  <div class="session-item">
                    <span class="badge session-badge">FULL YEAR COURSE</span>
                    <div class="d-flex align-items-center mb-3">
                      <div class="img-wrap mr-3">
                        <img
                          class="img-fluid"
                          src="./assets/images/sunil-kumar.jpg"
                          alt="Sunil Pant"
                        />
                      </div>
                      <div>
                        <span class="tutor-name">Mr. Sunil Kumar</span>
                        <span class="tutor-subject">ENGLISH</span>
                      </div>
                    </div>
                    <div class="date-time">
                      <strong>01 APRIL '20, </strong>
                      <span>9:00 AM - 10:00 PM</span>
                    </div>
                  </div>
                  <div class="session-item">
                    <span class="badge session-badge">FULL YEAR COURSE</span>
                    <div class="d-flex align-items-center mb-3">
                      <div class="img-wrap mr-3">
                        <img
                          class="img-fluid"
                          src="./assets/images/sunil-pant.jpg"
                          alt="Sunil Pant"
                        />
                      </div>
                      <div>
                        <span class="tutor-name">Mr. Sunil Kumar</span>
                        <span class="tutor-subject">ENGLISH</span>
                      </div>
                    </div>
                    <div class="date-time">
                      <strong>01 APRIL '20, </strong>
                      <span>9:00 AM - 10:00 PM</span>
                    </div>
                  </div>
                  <div class="session-item">
                    <span class="badge session-badge">FULL YEAR COURSE</span>
                    <div class="d-flex align-items-center mb-3">
                      <div class="img-wrap mr-3">
                        <img
                          class="img-fluid"
                          src="./assets/images/sunil-kumar.jpg"
                          alt="Sunil Pant"
                        />
                      </div>
                      <div>
                        <span class="tutor-name">Mr. Sunil Kumar</span>
                        <span class="tutor-subject">ENGLISH</span>
                      </div>
                    </div>
                    <div class="date-time">
                      <strong>01 APRIL '20, </strong>
                      <span>9:00 AM - 10:00 PM</span>
                    </div>
                  </div>
                  <div class="session-item">
                    <span class="badge session-badge">FULL YEAR COURSE</span>
                    <div class="d-flex align-items-center mb-3">
                      <div class="img-wrap mr-3">
                        <img
                          class="img-fluid"
                          src="./assets/images/sunil-pant.jpg"
                          alt="Sunil Pant"
                        />
                      </div>
                      <div>
                        <span class="tutor-name">Mr. Sunil Kumar</span>
                        <span class="tutor-subject">ENGLISH</span>
                      </div>
                    </div>
                    <div class="date-time">
                      <strong>01 APRIL '20, </strong>
                      <span>9:00 AM - 10:00 PM</span>
                    </div>
                  </div>
                </div>
                <a href="#" class="d-inline-block text-underline"
                  >View Today's Sessions</a
                >
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="session-card completed px-0">
                <h5>COMPLETED SESSIONS</h5>
                <div
                  class="d-flex flex-column flex-md-row align-items-md-center card-padding border-bottom"
                >
                  <div class="d-flex align-items-center date-time mb-2 mb-md-0">
                    <div class="date-lg">01</div>
                    <div>
                      <strong>August'18</strong><br />
                      <span>11:00 AM - 12:00 PM</span>
                      <span class="d-md-block"
                        ><i class="far fa fa-star theme-orange mr-1"></i
                        ><sup>4.9</sup></span
                      >
                    </div>
                  </div>
                  <div
                    class="tutor d-flex pl-md-4 ml-md-4 mb-3 mb-md-0 border-left"
                  >
                    <div class="img-wrap mr-2">
                      <img
                        class="img-fluid"
                        src="./assets/images/sunil-kumar.jpg"
                        alt="Anuj Gupta"
                      />
                    </div>
                    <div>
                      <strong>Mr. Anuj Gupta</strong><br />
                      <span>Physics</span>
                    </div>
                  </div>
                </div>
                <div
                  class="d-flex flex-column flex-md-row align-items-md-center card-padding"
                >
                  <div class="d-flex align-items-center date-time mb-2 mb-md-0">
                    <div class="date-lg">22</div>
                    <div>
                      <strong>August'18</strong><br />
                      <span>03:00 AM - 4:00 PM</span>
                    </div>
                  </div>
                  <div class="ml-md-4 mb-3 mb-md-0">
                    <div class="tutor d-flex border-left pl-md-4">
                      <div class="img-wrap mr-2">
                        <img
                          class="img-fluid"
                          src="./assets/images/sunil-kumar.jpg"
                          alt="Anuj Gupta"
                        />
                      </div>
                      <div>
                        <strong>Mr. Anuj Gupta</strong><br />
                        <span>Physics</span><br />
                      </div>
                    </div>
                    <div class="pl-md-4">
                      <button
                        class="btn btn-sm btn-outline-secondary rounded-pill px-md-4 mt-2"
                      >
                        Review Session
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card-padding">
                  <a href="#" class="d-inline-block text-underline"
                    >View Today's Sessions</a
                  >
                </div>
              </div>
            </div>

            <div class="col-lg-6 mb-4">
              <div class="session-card completed px-0">
                <h5>ASSIGNMENTS</h5>
                <div class="card-padding d-flex align-items-baseline">
                  <div>
                    <div class="d-flex align-items-center">
                      <span class="theme-orange text-lg mr-2">05</span>
                      <span
                        >Pending <br />
                        Assignments</span
                      >
                    </div>
                    <span class="badge session-badge">FULL YEAR COURSE</span>
                  </div>
                  <div class="d-flex align-items-center ml-2 pl-2 ml-md-4 pl-md-4">
                    <span class="theme-orange text-lg mr-2">10</span>
                    <span
                      >Submitted <br />
                      Assignments</span
                    >
                  </div>
                </div>
                <div class="card-padding py-0">
                  <h6 class="mb-0"><strong>Mathematics</strong></h6>
                  <span class="font14"><strong>Assigned By:</strong> <span class="text-secondary">Mr. Amit Kr.</span></span>
                </div>
                <div class="card-padding pb-0">
                  <h6 class="mb-0"><strong>English</strong></h6>
                  <span class="font14"><strong>Assigned By:</strong> <span class="text-secondary">Mr. Amit Kr.</span></span>
                </div>

                <div class="card-padding">
                  <a href="#" class="d-inline-block text-underline"
                    >View Today's Sessions</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- Slick Slider -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script>
      // Quote Slick Slider
      $(".session-slider").slick({
        infinite: false,
        // autoplay: true,
        autoplaySpeed: 2000,
        speed: 300,
        slidesToShow: 2,
        slidesToScroll: 1,
        variableWidth: false,
        responsive: [
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              variableWidth: true,
            },
          },
        ],
      });
    </script>
  </body>
</html>
